<div class='container row'>
<% @quotes.each do |quote| %>
  <div class='content col-sm-6'>
    <p class='medium-font'><%= quote.text %></p>
    <p class='text-right author'><%= quote.user_name %></p>
  </div>
<% end %>
</div>
