// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  color: #333333;
  margin: 10px 10px;
  max-width: 320px;
  padding: 20px;

  .author {
    color: #1abc9c;
  }
}
